@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "Olivera Regular";
  font-style: normal;
  font-weight: normal;
  src:
    local("Olivera Regular"),
    url("./assets/Fonts/Olivera-ZVxzB.woff") format("woff");
} */

body {
  /* font-family: "Olivera Regular", sans-serif; */
  /* horizontal overflow hidden */
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

.animate-scroll:hover {
  animation-play-state: paused;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 25s linear infinite;
}
